@import "~ag-grid-community/src/styles/ag-grid.scss";


    .failed {
        background-color: lightcoral;
        color: white;
    }

    .running {
        background-color: lightgreen;
        color: white;
    }

    .pending {
        background-color: lightskyblue;
        color: white;
    }
}
